#menu_button 
{
	-fx-border-color: black;
    -fx-border-width: 3.0;
    -fx-border-radius: 10.0;
    -fx-background-color: transparent;
    -fx-font-family:"French Script MT", Helvetica, Arial, sans-serif;
    -fx-font-size: 4.0em;
    -fx-text-fill: black;
}

#menu_button:focused
{
	-fx-border-color: black;
    -fx-border-width: 5.0;
    -fx-border-style: solid;
    -fx-border-radius: 10.0;
    -fx-border-insets: 1.0 1.0 1.0 1.0, 0.0;
}

/*#root
{
	-fx-background-image: url("file:textures/bg.jpg");
}*/