@font-face {
    font-family: 'Reggae One';
    src: url('file:assets/fonts/font.ttf');
}

#root
{
	-fx-background-color: black;
}

#boardSpaceBeige
{
	-fx-background-color: #daa138;
}

#menu_button 
{
	-fx-border-color: white;
    -fx-border-width: 3.0;
    -fx-border-radius: 10.0;
    -fx-background-color: transparent;
    -fx-font-family:"Reggae One";
    /*-fx-font-family:"French Script MT", Helvetica, Arial, sans-serif;*/
    -fx-font-size: 4.0em;
    -fx-text-fill: white;
}

#menu_button:focused
{
	-fx-border-color: white;
    -fx-border-width: 5.0;
    -fx-border-style: solid;
    -fx-border-radius: 10.0;
    -fx-border-insets: 1.0 1.0 1.0 1.0, 0.0;
}

#vbox_visible_border
{
	-fx-border-color: white;
    -fx-border-width: 3;
}