@font-face {
    font-family: 'Reggae One';
    src: url('file:assets/fonts/font.ttf');
}

#menu_button 
{ 
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-family:"Reggae One";
    -fx-font-weight: bold;
    -fx-font-size: 4.0em;
    -fx-text-fill: #f4b863;
}

#menu_button:focused
{
	-fx-font-size: 3.8em;
	-fx-text-fill: #ffc471;
}

#root
{
	-fx-background-image: url("../../assets/textures/background_image.png");
}

#vbox_visible_border
{
	-fx-border-color: white;
    -fx-border-width: 3;
}